input, button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: normal;
  
}

body {
  font: 12px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #d8e5e5;
}